root_folder = " "
data_folder_relative = "./data/ABIDE_pcp/cpac/filt_noglobal"
phenotype_file = "./data/ABIDE_pcp/Phenotypic_V1_0b>
subject_ids_file = "./subject_IDs.txt"
atlas_name = "cc200"
kind = "correlation"
pipeline = "cpac"
n_subjects = 200
